{% extends "base.html" %}

{% block content %}
  <br>
  <h3 class="sub-title">Are you sure you want to delete this post?</h3>
    <label>
      <div class="pre-label">subject</div>
      <p class="original-post"> {{post.subject}} </p>
      <div class="pre-label">content</div>
      <p class="original-post"> {{post.content}} </p>
    </label>

    <br>

    <form method="post">
      <label>
        <div class="sub-title">Yes
        <input type="radio" name="q" value="yes">
        </div>
      </label>

      <label>
        <div class="sub-title">No
        <input type="radio" name="q" value="no">
        </div>
      </label>
      <br>
      <div class="sub-title">
      <input type="submit">
      </div>
    </form>
{% endblock %}
