{% extends "base.html" %}

{% block content %}
  <br>
  <h3 class="sub-title">Are you sure you want to delete this post?</h3>
    <label>
      <div class="pre-label">subject</div>
      <p class="original-post"> {{p.subject}} </p>
    </label>
  <div class="post-content">
    <table style="margin-left:5%">
      <tr>
        <td class="label">
          {{p.gre_words}} GRE - Words
        </td>
        <td>
          {{p.gre_words_more}}
        </td>
      </tr>
      <tr>
        <td class="label">
          {{p.gre_essays}} GRE - Essays
        </td> 
        
        <td>
          {{p.gre_essays_more}}
        </td>
      </tr>
      <tr>
        <td class="label">
          {{p.gre_verbal}} GRE - Verbal
        </td>
        
        <td>
          {{p.gre_verbal_more}}
        </td>
      </tr>
      <tr>
        <td class="label">
          {{p.gre_math}} GRE Math
        </td>
        
        <td>
          {{p.gre_math_more}}
        </td>
      </tr>
      <tr>
        <td class="label">
          {{p.school_research}} School Research
        </td>
        
        <td>
          {{p.school_research_more}}
        </td>
      </tr>
      <tr>
        <td class="label">
          {{p.sop}} Statement of Purpose
        </td>
        
        <td>
          {{p.sop_more}}
        </td>
      </tr>
      <tr>
        <td class="label">
          {{p.other}} Other
        </td>
        
        <td>
          {{p.other_more}}
        </td>
      </tr>
    </table>
  </div>

    <br>

    <form method="post">
      <label>
        <div class="sub-title">Yes
        <input type="radio" name="q" value="yes">
        </div>
      </label>

      <label>
        <div class="sub-title">No
        <input type="radio" name="q" value="no">
        </div>
      </label>
      <br>
      <div class="sub-title">
      <input type="submit">
      </div>
    </form>
{% endblock %}
