{% extends "base.html" %}

{% block content %}
  <h2>Original Post</h2> {{username}}
    <label>
      <div class="pre-label">User</div>
      <p class="original-post"> {{post.username}} </p>
      <div class="pre-label">subject</div>
      <p class="original-post"> {{post.subject}} </p>
      <div class="pre-label">content</div>
      <p class="original-post"> {{post.content}} </p>
  }
  }
  <h2>edit post</h2>
    <form method="post">
      <label>
        <div>subject</div>

        <input type="text" name="subject" value="{{subject}}">
      </label>

      <label>
        <div>blog</div>
        <textarea name="content">{{content}}</textarea>
      </label>

      <div class="error">{{error}}</div>

      <input type="submit">
    </form>
{% endblock %}
