<div class="post">
  <div class="post-heading">
    <a href="/{{p.key().id()}}"" class="post-title">
      {{p.subject}}
    </a>
    -
    <a href="/{{p.key().id()}}/like" class="post-edit">
      Like - {{p.like_number}}
    </a>
    {{like_number}}

    <div class="post-date">
      written by {{p.username}} - {{p.created.strftime("%b %d, %Y")}}
    <a href="/{{p.key().id()}}/edit" class="post-edit">
      Edit
    </a>
    <a href="/{{p.key().id()}}/delete" class="post-edit">
      Delete
    </a>
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
</div>
