<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Welcome Page</title>
</head>

  <body >
    <a href="/blog" class="main-title">
      CS 253 Blog
    </a>
    <h2 class="main-title">Welcome, {{username}}!</h2>
    <div class="login-area">
    {% if user %}
      {{user.name}} (<a class="login-link" href="/logout">logout</a>)
    {% else %}
      <a class="login-link" href="/login">login</a>
      |
      <a class="login-link" href="/signup">signup</a>
    {% endif %}

  </body>
</html>
